body
{
background-size: cover;
}
.heading
{
    width: 100%;
    text-align: left;
}
.heading h3
{
    display: inline;
}
.heading button
{
    float: right;
    border: 1px solid whitesmoke;
}
#start, #status
{
    font-size: 22px;
}
.restart button
{
    border: 1px solid aliceblue;
}
canvas
{
    box-shadow: 5px 5px 5px solid rgb(91, 167, 233);
    border: 1px solid aliceblue;
}